.ebt-basic-button {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.ebt-basic-button .ebt-basic-button-wrapper {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.ebt-basic-button.ebt-align-left .ebt-container {
  text-align: left;
}

.ebt-basic-button.ebt-align-center .ebt-container {
  text-align: center;
}

.ebt-basic-button.ebt-align-right .ebt-container {
  text-align: right;
}

.ebt-basic-button.ebt-shape-square .ebt-container .ebt-basic-button {
  border-radius: 0;
}

.ebt-basic-button.ebt-shape-round .ebt-container .ebt-basic-button {
  border-radius: 5px;
}

.ebt-basic-button.ebt-shape-circle .ebt-container .ebt-basic-button {
  border-radius: 4em;
}

.ebt-basic-button.ebt-size-small .ebt-container .ebt-basic-button {
  font-size: 13px;
  padding: 10px 30px;
}

.ebt-basic-button.ebt-size-medium .ebt-container .ebt-basic-button {
  font-size: 16px;
  padding: 15px 43px;
}

.ebt-basic-button.ebt-size-large .ebt-container .ebt-basic-button {
  font-size: 21px;
  padding: 20px 56px;
}

.ebt-basic-button.ebt-stretched .ebt-container .ebt-basic-button-wrapper {
  width: 100%;
}

.ebt-basic-button.ebt-stretched .ebt-container .ebt-basic-button {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}
