div.webform-html-editor-default-filter-format.form-item,div.webform-html-editor-default-filter-format .form-item{margin:0;}div.webform-html-editor-default-filter-format > .filter-wrapper,div.webform-html-editor-default-filter-format .cke_bottom{display:none;}
.form-item.form-type-webform-checkbox-value{margin:0;}
.ck-button:not(.ck-disabled) .ck-icon *{opacity:1 !important;fill-opacity:1 !important;}
